body {
    font-size: 16px;
    height: 100%;
    background: #121210;
    margin: 0;
    display:block;
}


.topNavigation {
    font-size: 20px;
}

li {
    float: left;
}


.topNavigation a {
    color: white;
    float:left;
    display: block;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topNavigation a:hover {
    background-color: #650606;
}

.topNavigation .icon {
    display:none;
}


.siteText {
    color: white;
}

.mainTextBlock {
    background: rgba(0, 0, 0, 0.25);
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
}
