/* New styles for the pulsating effect */
@keyframes pulse {
    0% {
      background-color: #ececec; /* Initial color */
    }
    50% {
      background-color: #dadada; /* Intermediate color */
    }
    100% {
      background-color: #ececec; /* Return to initial color */
    }
  }

  .card {
    transition: transform 0.3s; /* adds a smooth transition */
    z-index: 1; /* default z-index */
    height: 100%;
    text-decoration: none;
    color: black; /* Set the text color to black */
  }

  .card:hover {
    animation: pulse 1.2s infinite; /* Apply the animation on hover */
    transform: scale(1.05);
    z-index: 2; /* Bring the hovered card to the front */
    text-decoration: none;
    color: black; /* Set the text color to black */
  }

  .card .card-body {
    flex-grow: 1; /* Allow the body to grow within the flex container */
  }
  
  footer {
    background-color: #333;
    color: #fff;
  }

  .noDeco {
    text-decoration: none; /* Remove default underline on links */
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;


    overflow-x: hidden;
  }

  main {
    flex: 1;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

 .mb-4 {
    margin-bottom: 1.5rem !important; /* Adjust the spacing between rows */
  } 

  .header-bg {
    background-image: url('images/main_bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding-top: 5%;
    padding-bottom: 10%;
    color: white; 
  }
  .content-bg {
    background-image: url('images/main_bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
  }
  .bg-gray {
    background-color: #9c9c9c;
  }

  
  .bg-white {
    background-color: #c5c5c5;
  }

  .custom-btn-outline:hover {
    border-color: #000;
    background-color: grey;
    color: #fff; /* Optional: Set text color to black */
  }

  .custom-btn-outline {
    background-color: #000;
    border-color: #000;
    color: #fff; /* Text color on hover */
  }
 /* Adjustments for the sidebar */
.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
}

/* Adjust page content to allow space for sidebar */
  .col-md-9,.col-lg-10 {
    margin-left: 15rem; /* Adjust based on the sidebar width */
  }

  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
}
